/* .App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.backgroud {
    background-color: #80bfff;
    width: 550px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mb-3{
    max-width: 540px;
}
.container{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
} */
.bg-ccc {
    background-color: #ccc;
    height: 90px;
}

.name1,
.name2,
.name3,
.name4 {
    border-bottom: 1px solid #ccc;
    margin-top: 0px;
    margin-left: 0px;
}

.name5 {
    margin-top: 40px;
}

.name6 {
    max-width: 400px;
    background-color: aqua;
    margin-top: 20px;
}

.text-center {
    font-size: 10px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

.name_img{
   width: 700px;
}
.bg_green{
    background-color: green;
}
.bg{
    width: 24px;
    height: 24px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
.bg_red{
    background-color: red;
}
.bg_blue{
    background-color: blue;
}
.bg_yellow{
    background-color: yellow;
}
.bg_violet{
    background-color: violet;
}